.table-headers th {
  position: sticky;
  top: 0;
  background-color: var(--primary);
  color: var(--light);
}

.table-responsive {
  max-height: 450px;
  overflow-y: auto;
}

th,
td,
.table th,
.table td {
  vertical-align: middle;
}

.col-id {
  width: 3rem;
}

.col-product {
  width: 20rem;
}

.col-price {
  width: 5rem;
}

.col-actions {
  width: 10rem;
}

