.btn {
  border: none !important;
  outline: none !important;
}

.btn-primary {
  background-color: var(--primaryLighten) !important;
  padding: 0.6rem 1.5rem !important;
  box-shadow: 1px 2px 0px 1px var(--info);
  transition: all 0.3s ease !important;
}

.btn-primary-no-shadow {
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primaryLightenHover) !important;
}

.btn-primary:active {
  background-color: var(--primaryLighten) !important;
}

.btn-info {
  background-color: var(--info) !important;
  padding: 0.4rem 1.5rem !important;
  margin-right: 0.5rem;
  transition: all 0.3s ease !important;
}

.btn-info:hover,
.btn-info:focus {
  background-color: var(--infoHover) !important;
}

.btn-info:active {
  background-color: var(--info) !important;
}

.btn-danger {
  background-color: var(--danger) !important;
  padding: 0.4rem 1.5rem !important;
  transition: all 0.3s ease !important;
}

.btn-danger-alert {
  padding: 0.6rem 1.5rem !important;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: var(--dangerHover) !important;
}

.btn-danger:active {
  background-color: var(--danger) !important;
}